.main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 90px;
}

.left {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.right {
  flex: 1;
  text-align: end;
}
.thumbsup {
  display: flex;
}
