.bottom {
  display: flex;
  margin-top: 10px;
  padding-right: 103px;
}
.bottom_left {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.no_colleagues {
  display: flex;
}
.bottom_right {
  display: flex;
  flex: 1;
  justify-content: end;
}
