.card {
  border: 2px solid orange;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: -2px -2px 2px rgb(210, 210, 210);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.triangle {
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid orange;
  border-left: 20px solid orange;
  border-right: 20px solid transparent;
  transform: rotate(180deg);
  top: -16px;
  right: 0px;
}
.tick {
  position: absolute;
  transform: rotate(180deg);
  right: 0px;
}
.half_circle_left {
  bottom: 10px;
}
.half_circle_right {
  bottom: 10px;
}
